.goals {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        margin-bottom: 30px;
}

.progres-bar {           
    width: 100%;
    padding-bottom: 30px;
    margin-top: 20px;;
    color: #111;
}
.progres-bar > p {
    line-height: 25px;
    font-size: 20px;

}
.progres-bar > .progres {
    height: 5px;
    padding: 0 5px;
    background-color: green;
    border-radius: 5px;
    position: relative;
    font-weight: 400;
    animation: bar-animation 0.5s  linear ;
}
.progress-bar-proc {
  position: absolute;
  right: 0;
  top: -20px;
   color:  red;
}

.goalwhy {
    line-height: 30px;
    font-size: 25px;
    color:  red;
}
.textgoal {
    line-height: 25px;
    font-size: 20px;
}

.due-date {
    font-size: 20px;
    position: absolute;
    top:0;
    right:0;
    color: red;
}

.editbutton {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right:10px;
   
}


@media ( max-width: 800px ) {
    .goals {
        grid-template-columns: 100%;
        text-align: center;
    }
}