.services-content {
   display: none;
 }
    .serviss {
        margin:10px;
        border: 2px solid #aaa;
        padding:  40px 20px 30px;
        position: relative;
       
    }
   
    .serviss > .head {
        margin-bottom: 20px;
        color: black;
        line-height: 25px;
        font-size: 30px;
        text-align: center;
    }
    .serviss > .text {
        line-height: 30px;
        font-size: 25px;
    }


    @media ( max-width: 800px ) {
        .services-content {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto;
            margin-bottom: 30px;
        }
    }
  
  