.services-content {
    display: grid;
    padding:5px;
    text-align: center;
    grid-template-columns: 50% 50% ;
    grid-template-rows: auto;
  
}
  
    .servis {
        margin:10px;
        border: 2px solid #aaa;
        padding:  40px 20px 80px;
        background-color: rgba(0, 255, 255, 0.6);
    }
   
  
    .servis > .head {
        margin-bottom: 20px;
        color: black;
        line-height: 25px;
        font-size: 30px;
    }
    .servis > .text {
        color: blue;
        line-height: 30px;
        font-size: 25px;
    }


    @media ( max-width: 1100px ) {
        .services-content {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto;
        }
    }
  
  